html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  border:0 none;
  font-family:inherit;
  font-size:100%;
  font-style:inherit;
  font-weight:inherit;
  margin:0;
  outline-color:-moz-use-text-color;
  outline-style:none;
  outline-width:0;
  padding:0;
  vertical-align:baseline;
}

body {
  font-family: georgia, 'Times New Roman', serif;
}

h1 {
  font-family: helvetica, arial, sans-serif;
  font-weight: bold;
  font-size: 4em;
  text-align: center;
}

em {
  display:block;
  padding-top: 1em;
  font-size: 1.2em;
  text-align: center;
}

a {
  color: #0084A4;
}

a:hover {
  text-decoration: none;
}

div#codemashlogo {
  margin-top: 10%;
  text-align: center;
  margin-bottom: 25px;
}

img {
  border: 0;
}

#branding {
  bottom: 0%
  padding: 0;
  margin: 0;
}

#branding #logo {
  position: absolute;
  left: 1%;
  bottom: 1%;
}
#branding #name {
  position: absolute;
  right: 1%;
  bottom: 1%;
  text-align: right;
}

div#tweets_layer {
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: -1;
}

ul#tweets {
  text-align: center;
  list-style-type: none;
}

ul#tweets li {
  padding-bottom: 20px;
  color: #bdeaf5;
  font-family: georgia;
  font-weight: normal;
}

